*/resources/public/js/compiled/**
*figwheel_server.log
*pom.xml
*jar
*/lib/
*/classes/
*/out/
*/target/
*.lein-deps-sum
*.lein-repl-history
*.lein-plugins/
*.repl
*.nrepl-port

*.shadow-cljs/*
*node_modules/*

.clj-kondo/.cache/*
public/js/*
output/ai2_transparency_test/*
output/test/*

docs/report.html
*/public/data/*#*.csv
*/data/*
*.#*
  
*__pycache__*
.cpcache/*
